@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pr5amm');
  src:  url('../fonts/icomoon.eot?pr5amm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pr5amm') format('truetype'),
    url('../fonts/icomoon.woff?pr5amm') format('woff'),
    url('../fonts/icomoon.svg?pr5amm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e90b";
}
.icon-contact:before {
  content: "\e90b";
}
.icon-viber:before {
  content: "\e90a";
  color: #665cac;
}
.icon-cart:before {
  content: "\e905";
}
.icon-shopping:before {
  content: "\e905";
}
.icon-ecommerce:before {
  content: "\e905";
}
.icon-buy:before {
  content: "\e905";
}
.icon-purchase:before {
  content: "\e905";
}
.icon-redo:before {
  content: "\e909";
}
.icon-bullhorn:before {
  content: "\e907";
}
.icon-newspaper:before {
  content: "\e908";
}
.icon-fire1:before {
  content: "\e906";
}
.icon-clipboard:before {
  content: "\e903";
}
.icon-board:before {
  content: "\e903";
}
.icon-signup:before {
  content: "\e903";
}
.icon-register:before {
  content: "\e903";
}
.icon-agreement:before {
  content: "\e903";
}
.icon-transfer_within_a_station:before {
  content: "\e904";
}
.icon-wishlist:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e901";
}
.icon-addressbook:before {
  content: "\e900";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\effe";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-book:before {
  content: "\f02d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-phone1:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-floppy-o:before {
  content: "\f0c7";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-eur:before {
  content: "\f153";
}
.icon-euro:before {
  content: "\f153";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-usd:before {
  content: "\f155";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rub:before {
  content: "\f158";
}
.icon-ruble:before {
  content: "\f158";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-vk:before {
  content: "\f189";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-birthday-cake:before {
  content: "\f1fd";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-object-group:before {
  content: "\f247";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-telegram:before {
  content: "\f2c6";
}
